<section>
    <div id="container" class="text-dark">
        <a href="mainPage.html">Inicio</a> > <a href="admin.html">Administradores</a>
        <h3 class="font-weight-bold">Perfil de administrador</h3><br>
        <img id="userPhoto" width="128" height="128" alt="" src="./media/imageicon2.png"><br>
        <h4 id="userName" class="font-weight-bold">Example</h4><br>
        <div>
            <table id="logAdmin">
                <tbody>
                    <tr>
                        <th><p>NOMBRE(S)</p></th>
                        <th><p style="padding-left: 100px;">APELLIDOS</p></th>
                        <th><p style="padding-left: 100px;">CORREO ELECTRÓNICO</p></th>
                    </tr>
                    <tr>
                        <td><p class="font-weight-bold" id="pName">Example</p></td>
                        <td><p class="font-weight-bold" style="padding-left: 100px;" id="pSurname">Example</p></td>
                        <td><p class="font-weight-bold" style="padding-left: 100px;" id="pEmail">Example</p></td>
                    </tr>
                    <tr>
                        <th><p>ÁREA</p></th>
                        <th><p style="padding-left: 100px;">ESTATUS</p></th>
                    </tr>
                    <tr>
                        <td><p class="font-weight-bold" id="pArea">Example</p></td>
                        <td><p class="font-weight-bold" style="padding-left: 100px;" id="pEstatus">Example</p></td>
                    </tr>
                </tbody>
                </table>
                <p style="border-bottom: 1px solid gainsboro; width: 80%;"></p>
        </div>
        <button type="button" class="btn btn-light" id="cancelButton" onclick="location.href='admin.html';">Cancelar</button>
        <button type="button" class="btn btn-info" id="updateAdmin" onclick="">Editar administrador</button>
    </div>
</section>