<section>
    <div id="container" class="text-dark">
        <a href="mainPage.html">Inicio</a> > <a href="admin.html">Administradores</a>
        <h3 class="font-weight-bold">Editar Administrador</h3><br>
        <h4 class="font-weight-bold">Sube tu fotografía con un peso menor a 2 MB</h4><br>
        <form class="formAddAdmin">
            <div id="imgUploader">
                <img id="userPhoto" width="128" height="128" alt="" src="./media/imageicon2.png"><br>
                <input type="file" id="inputPhoto">
                <p>Arrastra tu archivo o</p>
                <button type="button" class="btn btn-light" id="inputPhotoButton" style="margin-top: 0%;">Selecciona</button>
                <textarea id="hiddenTxtA" name="hiddenTxtA"></textarea>
                <p></p>
            </div>
            <div class="form-group" id="adminInfo">
                <label>Nombre (s)</label>
                <input id="name" type="text" class="form-control input-lg" placeholder="Nombre (s)"/>
                <label>Apellidos</label>
                <input id="surname" type="text" class="form-control input-lg" placeholder="Apellidos"/>
                <label>Correo electrónico</label>
                <input id="email" type="email" class="form-control input-lg" placeholder="Correo electrónico"/>
                <label for="lstAreas">Área</label>
                <select name="lstAreas" id="lstAreas">
                    <option hidden selected>Tipo de área</option>
                    <option value="Desarrollo de software">Desarrollo de software</option>
                    <option value="Recursos Humanos">Recursos Humanos</option>
                    <option value="Ventas">Ventas</option>
                </select><br>
                <label for="lstEstatus">Estatus</label>
                <select name="lstEstatus" id="lstEstatus">
                    <option hidden selected>Estatus</option>
                    <option value="Activo">Activo</option>
                    <option value="Inactivo">Inactivo</option>
                </select><br>
           </div>
           <button type="button" class="btn btn-light" id="cancelButton" onclick="location.href='admin.html';">Cancelar</button>
           <button type="button" class="btn btn-info" id="saveChanges">Guardar cambios</button>
        </form>
    </div>
</section>