/* 
    Created on : Oct 21, 2021
    Author     : Jasso Zuñiga
*/

:root {
    --primary: #ffffff;
    --light: #000000;
    --grey: #efefef;
    --mainPage: #3cc9c5;
}

div.container{
    width: 1200px;
    height: 1200px;
}

div.row{
    width: 1200px;
    height: 1200px;
}

div[id="content-container"]{
    overflow: auto;
    margin: 90px;
    height: 100%;
    width: 100%;
}

.btn-primary:hover {
    background-color: #3cc9c5;
    border-color: #3cc9c5;
}


body {
    overflow: visible;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.bg-light { background-color: var(--mainPage) !important; }

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

form.formLogin{
    width: 400px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
}

form input[type="text"]{
	width:300px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;

}

textarea.form-control{
	width:300px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;

}

form input[type="password"]{
	width:300px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form button{
    width:50%;
	padding:8px 16px;
	margin-top:32px;
    margin-left: 25%;
	border-radius:5px;
	display:block;
	color:#fff;
    border-color: var(--mainPage);
	background-color:var(--mainPage);
}



