/* 
    Created on : Oct 21, 2021
    Author     : Jasso Zuñiga
*/

:root {
    --primary: #ffffff;
    --light: #000000;
    --grey: #efefef;
    --mainPage: #3cc9c5;
}

p.profileViewTittle{
    opacity: 70%;
    font-size: smaller;
    letter-spacing: 1px;
}

div.container{
    width: 1200px;
    height: 1200px;
}

div.row{
    width: 1200px;
    height: 1200px;
}

div[id="content-container"]{
    left: 230px;
    position: absolute;
    overflow: auto;
    margin: 110px;
    height: 80%;
    width: 80%;
}

div[id="searchInput"]{
    display: flex;
    justify-content: space-between;
}

button[id="searchButton"]{
    background-color: gainsboro;
    margin-left: 10px;
    color:#000;
    border-color: gainsboro;
}

button[id="filterButton"]{
    background-color: gainsboro;
    margin-left: 10px;
    margin-right: 40%;
    color:#000;
    border-color: gainsboro;
}

button[id="downloadButton"]{
    border-color: #3cc9c5;
    margin-left: 10px;
}

button[id="inputPhotoButton"]{
    border-color: #3cc9c5;
    margin-left: 0px;
}

button[id="addAdminPageRedirect"]{
    background-color: #3cc9c5;
    margin-left: 10px;
    white-space: nowrap;
    text-align: center;
    border-color:#3cc9c5;
}

button[id="saveChanges"]{
    background-color: #3cc9c5;
    margin-left: 10px;
    white-space: nowrap;
    text-align: center;
    border-color:#3cc9c5;
    width: 15%;
}


.btn-primary:hover {
    background-color: #3cc9c5;
    border-color: #3cc9c5;
}

a[class="d-block text-light p-3"]{
  border-bottom: 1px solid gainsboro;
  border-bottom-width: thin;
}

div[id="imgUploader"]{
    border: 1px solid gainsboro;
    border-bottom-width: thin;
    text-align: center;
    width: 260px;
    height: auto;
}

body {
    overflow: visible;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

span [class="iconify"]{
    color:#3cc9c5
}

a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--mainPage) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }


#sidebar-container {
    position: absolute;
    overflow: auto;
    min-height: 100vh;
    border-right: 1px solid gainsboro;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}
  
#sidebar-container .menu {
    width: 18rem;
}

#sidebar-container .help p{
    padding-top: 5px;
    margin: auto;
    padding-left: 10px;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color:#000
}

#sidebar-container .help a{
    color: black;
    padding-left: 10px;
    border: 0px;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    text-decoration: underline;
}

#sidebar-container .help svg{
    position: absolute;
    color: black;
    right: 13%;
    top: auto;
    bottom: 11%;
}

#sidebar-container .help{
    margin-left: 15px;
    width: 260px;
    margin-top: 150px;
    background: rgb(219 218 218 / 50%);
    border-radius: 10px;
    height: 60px;
}
#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

  
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
}

.topnav {
    position: unset;
    text-align: left;
    background-color: #3cc9c5;
    width: 100%;
  }
    
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

form[id="formAddAdmin"]{
    padding:10px;
    border:2px solid;
    margin:10px;
	background-color:var(--primary);
}
.form-group>label{
    padding-left: 5px;
    padding-right: 5px;
    position:relative;
    top:22px;
    left:10px;
    background-color:white;
  }
  
.form-group>input{
    border:none;
}

form.formLogin{
    width: 400px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
}

form input[type="text"]{
	width:300px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
    border: 1px solid gainsboro;
}

textarea.form-control{
	width:300px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;

}

form input[type="email"]{
	width:300px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
    border: 1px solid gainsboro;
}

form input[type="password"]{
	width:300px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
    border: 1px solid gainsboro;
}

button[id="cancelButton"]{
    border-color: #3cc9c5;
    width: 100px;
    margin-left: 0;
}

button[id="addAdminButton"]{
    width: 200px;
    margin-left: 10px;
}

.topnav pre{
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    float: left;
    color: #f2f2f2;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

form button{
    width:50%;
	padding:8px 16px;
	margin-top:32px;
    margin-left: 25%;
	border-radius:5px;
	display:block;
	color:#fff;
    border-color: var(--mainPage);
	background-color:var(--mainPage);
}

form select{
    width:300px;
    padding:8px 8px;
    margin-top:1px;
    border:1px solid #f6f6f6;
    border-radius:5px;
    display:block;
    color:#81898c;
    background-color:#f6f6f6;
    margin: 10px 0;
    border: 1px solid gainsboro;
}

table[id="adminTable"] {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table[id="adminTable"] td, table[id="adminTable"] th{
    border-bottom: 1px solid gainsboro;
    text-align: left;
    padding: 20px;
}

table[id="logAdmin"] td{
    text-align: justify;
    padding: 10px;
}

table[id="logAdmin"] th{
    letter-spacing: 1px;
    font-size: small;
    opacity: 70%;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    text-align: justify;
    padding: 10px;
}

select{
        width:48%;
        padding:8px 8px;
        margin-top:1px;
        margin-left: 0%;
        border:1px solid #f6f6f6;
        border-radius:5px;
        display:block;
        color:#81898c;
        background-color:#f6f6f6;
}

.form-actions  {
    text-align:center;
}

.text-light {
    color: #000000!important;
}

input[id="inputPhoto"]{
    display: none;
}

textarea[id="hiddenTxtA"]{
    display: none;
}


